 <launch>
 <!--node pkg="tf" type="static_transform_publisher" name="base_to_link" args="0 0 0 0 0 0 base_footprint base_link 100" /-->

 <!--node name="Can_tran" pkg="Ethernet_Canbus" type="TcpIP_Ethernet_Canbus" -->
 <!--param name="/PORT" value="8881"/-->


   <!--坐标变换，需要实测 -->
   <node pkg="tf" type="static_transform_publisher" name="base_to_link" args="0 0 0 0 0 0 base_footprint base_link 100" />

   <node name="Can_tran" pkg="Motec_canopen" type="Can_tran" />
   <node name="Can_action" pkg="Motec_canopen" type="Can_action" />
   <node name="Can_state" pkg="Motec_canopen" type="Can_state" />
   <node pkg="Motec_canopen" type="Wheels_odom" name="Wheels_odom" output="screen">
       <param name="wheel_size" value="0.14928"/>
       <param name="Car_size" value="0.4242"/>
       <param name="Gear_Compare" value="35"/>
    </node>
  </launch>

